@import url('https://fonts.googleapis.com/css2?family=Besley&family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');



@import "tailwindcss";
/* index.css or App.css */


.font-besley {
  font-family: 'Besley', serif;
}

.font-bowlby {
  font-family: 'Bowlby One SC', cursive;
}

.font-homejae {
  font-family: 'Homenaje', cursive;
}

.font-bayon {
  font-family: 'Bayon', sans-serif;
}

.font-hind {
  font-family: 'Hind', sans-serif;
}

@keyframes pop {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}